<a href="https://colab.research.google.com/github/suwutjaneet/Data_Viz/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function

Function template ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output

f(x) = y

def คือ การกำหนดฟังก์ชัน

```python 
def function_name(_Input_) :
  do_something with _Input_ to get _Output_
  return _Output_
  ```

function มีส่วนสำคัญทั้งหมด 4 ส่วน
1. บอก python ว่าเราจะเขียนฟังก์ชัน ชื่ออะไร ```def function_name():``` << ขาดไม่ได้
2. กำหนดตัวแปรที่จะเป็น input ```_Input_``` << ขาดได้
3. ส่วนประมวณผล ```do_something with _Input_ to get _Output_``` << ขาดไม่ได้
4. ส่วน output ```return _Output_``` << ขาดได้

ตัวอย่างการเขียน normal function

In [ ]:
def print_name(surname,ID,name) :
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  return st

In [ ]:
print_name('พวงมาลัย','613020551-8','ธันยาการต์')

'ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8'

In [ ]:
print(print_name(name='ธันยาการต์',surname='พวงมาลัย',ID='613020551-8'))

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8

ใช้เว้นวรรค(indent) เพื่อบอกขอบเขตของโปรแกรม

In [ ]:
def print_name2(surname,ID,name) :
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  print(st)

In [ ]:
print_name2(name='ธันยาการต์',surname='พวงมาลัย',ID='613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8

ฟังก์ชันไม่จำเป็นต้องมี input

In [ ]:
def Pi():
  return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

เราสามารถกำหนดค่า default ให้กับฟังก์ชันได้

input ของ function ใน python มี 2 แบบ คือ 
1. input ที่จำเป็นต้องใส่
2. input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  print(st)
  st2 = f'เกรดวิชา Data Viz >>> {grade}'
  print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop 
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

for each_member in listA :
do_something

คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
  o = i**2
  print(f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

In [ ]:
for i in 'Tunyakarn' :
  print(f'{i} -> / ')

T -> /
u -> /
n -> /
y -> /
a -> /
k -> /
a -> /
r -> /
n -> /

In [ ]:
for i in 'Tunyakarn' :
  print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบไม่เว้นบรรทัด

T -> / u -> / n -> / y -> / a -> / k -> / a -> / r -> / n -> /

In [ ]:
for i in 'Tunyakarn' :
  print(f'{i} -> / ' ,end = ',')

T -> / ,u -> / ,n -> / ,y -> / ,a -> / ,k -> / ,a -> / ,r -> / ,n -> / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
  print('งง' ,end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่งต้นเป็นวงกลมทึบ จบเป็นวงกลมโปร่ง หลักการเหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4)) #ตัวในวงเล็บคือ (จุดเริ่มต้น,จุดจบ,เพิ่มทีละ)

[-3, 1, 5, 9, 13, 17]

## loop in loop
## สามารถใช้ for loop ซ้อนกันสองรอบได้

In [ ]:
for name1 in range(2,5): #ผลคือ 2,3,4
  print(f'now name1 = {name1}')
  for name2 in range(1,13):
    print(name1,' x ',name2, ' = ',name1*name2)
  print('the inner loop is end')

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

## loop in function การวนลูปในฟังก์ชัน

In [ ]:
def print_feelings(I,friends,feeling = 'คิดถึง'):
  for friend in friends :
    print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['กล้า','แพร','เบญ','เนย','แอน']

In [ ]:
print_feelings('ปูนปั้น',list_friends)

ปูนปั้น คิดถึง กล้า
ปูนปั้น คิดถึง แพร
ปูนปั้น คิดถึง เบญ
ปูนปั้น คิดถึง เนย
ปูนปั้น คิดถึง แอน

In [ ]:
print_feelings('ปูนปั้น',list_friends,feeling='รัก')

ปูนปั้น รัก กล้า
ปูนปั้น รัก แพร
ปูนปั้น รัก เบญ
ปูนปั้น รัก เนย
ปูนปั้น รัก แอน

In [ ]:
print_feelings('ปูนปั้น',list_friends,'รัก')

ปูนปั้น รัก กล้า
ปูนปั้น รัก แพร
ปูนปั้น รัก เบญ
ปูนปั้น รัก เนย
ปูนปั้น รัก แอน

## condition คือ เงื่อนไข/ประโยคเงื่อนไข

## True/False
## การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```python
if condition1 :
  do something
elif condition2 : #elif คือ else if
  do another thing
else :
  do ...
```

## สัญลักษณ์ใน condition 
## ==,!=,>=,<=,<,>

In [ ]:
'ปูนปั้น' == 'กล้า'

False

In [ ]:
'ปูนปั้น' != 'กล้า'

True

In [ ]:
for name1 in list_friends :
  for name2 in list_friends :
      print(name1,'รัก',name2)

กล้า รัก กล้า
กล้า รัก แพร
กล้า รัก เบญ
กล้า รัก เนย
กล้า รัก แอน
แพร รัก กล้า
แพร รัก แพร
แพร รัก เบญ
แพร รัก เนย
แพร รัก แอน
เบญ รัก กล้า
เบญ รัก แพร
เบญ รัก เบญ
เบญ รัก เนย
เบญ รัก แอน
เนย รัก กล้า
เนย รัก แพร
เนย รัก เบญ
เนย รัก เนย
เนย รัก แอน
แอน รัก กล้า
แอน รัก แพร
แอน รัก เบญ
แอน รัก เนย
แอน รัก แอน

In [ ]:
for name1 in list_friends :
  for name2 in list_friends :
    if name1 != name2 : #ไม่ print ชื่อคนเดียวกันซ้ำ
      print(name1,'รัก',name2)

กล้า รัก แพร
กล้า รัก เบญ
กล้า รัก เนย
กล้า รัก แอน
แพร รัก กล้า
แพร รัก เบญ
แพร รัก เนย
แพร รัก แอน
เบญ รัก กล้า
เบญ รัก แพร
เบญ รัก เนย
เบญ รัก แอน
เนย รัก กล้า
เนย รัก แพร
เนย รัก เบญ
เนย รัก แอน
แอน รัก กล้า
แอน รัก แพร
แอน รัก เบญ
แอน รัก เนย

In [ ]:
for name1 in list_friends :
  for name2 in list_friends :
    if name1 == name2 : #print ชื่อคนเดียวกันซ้ำ
      print(name1,'รัก',name2)

กล้า รัก กล้า
แพร รัก แพร
เบญ รัก เบญ
เนย รัก เนย
แอน รัก แอน

In [ ]:
for name1 in list_friends :
  for name2 in list_friends :
    if name1 == name2 : 
      'do nothing'
    else :
      print(name1,'รัก',name2)

กล้า รัก แพร
กล้า รัก เบญ
กล้า รัก เนย
กล้า รัก แอน
แพร รัก กล้า
แพร รัก เบญ
แพร รัก เนย
แพร รัก แอน
เบญ รัก กล้า
เบญ รัก แพร
เบญ รัก เนย
เบญ รัก แอน
เนย รัก กล้า
เนย รัก แพร
เนย รัก เบญ
เนย รัก แอน
แอน รัก กล้า
แอน รัก แพร
แอน รัก เบญ
แอน รัก เนย

## หากหลังเงื่อนไข True ถูกต้องจะ print ข้อความออกมาว่า Yes

In [ ]:
if True :
  print('Yes')

Yes

## หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ print ข้อความออกมา

In [ ]:
if False :
  print('No')

## หากอยากให้หลังเงื่อนไข False print ข้อความออกมา จะต้องใช้เงื่อไข ดังนี้

In [ ]:
if False :
  print('Yes')
else :
  print('No')

No

## HW
## เขียน function ตัดเกรด โดยที่ input เป็นคะแนน (0-100) , output เป็นเกรด (F-A) 
## input = [1,50,65,90,101,-5,49]

In [ ]:
def grade(score) :
  if score < 0 :
    print(f'คะแนน เท่ากับ {score} กรอกคะแนนผิด')
  if 0 <= score < 50 :
    print(f'คะแนน เท่ากับ {score} จะได้เกรด F')
  if 50 <= score < 55 :
    print(f'คะแนน เท่ากับ {score} จะได้เกรด D')
  if 55 <= score < 60 :
    print(f'คะแนน เท่ากับ {score} จะได้เกรด D+')
  if 60 <= score < 65 :
    print(f'คะแนน เท่ากับ {score} จะได้เกรด C')
  if 65 <= score < 70 :
    print(f'คะแนน เท่ากับ {score} จะได้เกรด C+')
  if 70 <= score < 75 :
    print(f'คะแนน เท่ากับ {score} จะได้เกรด B')
  if 75 <= score < 80 :
    print(f'คะแนน เท่ากับ {score} จะได้เกรด B+')
  if 80 <= score < 100 :
    print(f'คะแนน เท่ากับ {score} จะได้เกรด A')
  if score >= 100 :
    print(f'คะแนน เท่ากับ {score} กรอกคะแนนผิด')

In [ ]:
input = [1,50,65,90,101,-5,49]

In [ ]:
for score in input :
  grade(score)

คะแนน เท่ากับ 1 จะได้เกรด F
คะแนน เท่ากับ 50 จะได้เกรด D
คะแนน เท่ากับ 65 จะได้เกรด C+
คะแนน เท่ากับ 90 จะได้เกรด A
คะแนน เท่ากับ 101 กรอกคะแนนผิด
คะแนน เท่ากับ -5 กรอกคะแนนผิด
คะแนน เท่ากับ 49 จะได้เกรด F