<a href="https://colab.research.google.com/github/suwutjaneet/Data_Viz/blob/main/Panda_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

path = '/content/drive/My Drive/dataviz_2021_data'

In [4]:
covid_file_path = os.path.join(path, 'pm-20-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-20-jan-2021.csv

In [7]:
a = path + '/pm-20-jan-2021.csv'
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-20-jan-2021.csv

## Load data to memory

In [8]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [9]:
data_covid.shape

(12653, 10)

In [ ]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

#ชี้ค่าในตาราง

In [ ]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

In [ ]:
data_covid['provice_of_onset']

KeyError: ignored

In [ ]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

#Table slicing 
#ตัดมาเฉพาะคอลัมที่ต้องการ

In [22]:
smaller_table = data_covid[['announce_date', 'province_of_onset', "risk"]]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12648     1/20/2021  ...                             State Quarantine
12649     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651     1/20/2021  ...                                Cluster ระยอง
12652     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 3 columns]

#ตัดเฉพาะแถวที่ต้องการ
#แบบง่ายแต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

#ตัดเฉพาะแถว (,ีประโยชน์)

#การชี้ค่าในตารางด้วย data_covid[X] ค่า x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ
#1. ชื่อ colum
#2. ใส่ row ที่ต้องการใส่ (ใส่ list #ที่มีขนาดเท่ากับจำนวนแถวแล้วบอกว่าเอาแถวไหนบ้างโดยใช้

In [ ]:
eight_rows_covid = data_covid.iloc[:8, :]
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [ ]:
eight_rows_covid[[True,False,True,True,False,True,False,False]] # ใส่ row ที่ต้องการ

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [ ]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'#สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [ ]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'] #เราเอา 2 บรรทัดบนมาบวกกัน

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

#HW 
#1.คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด
#2.คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น
# (Quiz)3. หาจำนวนผู้ป่วยที่เป็นคนต่างชาติเดินทางมาจากต่างประเทศ

In [10]:
all_age_covid= data_covid[['sex','age','province_of_onset']] 
all_age_covid

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [15]:
def mean_age(sex,province_of_onset = 'total'):
  for i in range(len(all_age_covid)):
    if province_of_onset == 'total':
      if sex == all_age_covid['sex'][i]:
        total_age =+ all_age_covid['age'][i]
        n=+1
    else:
      if sex == all_age_covid['sex'][i]:
        if province_of_onset == all_age_covid['province_of_onset'][i]:
          total_age =+ all_age_covid['age'][i]
          n=+1
  return total_age/n

In [17]:
a=mean_age('หญิง')
b=mean_age('ชาย')
print(f' อายุเฉลี่ยของผู้ป่วยโควิดเพศหญิง คือ {a} ปี \n อายุเฉลี่ยของผู้ป่วยโควิดเพศชาย คือ {b} ปี\n')

 อายุเฉลี่ยของผู้ป่วยโควิดเพศหญิง คือ 22.0 ปี
 อายุเฉลี่ยของผู้ป่วยโควิดเพศชาย คือ 42.0 ปี

In [18]:
c=mean_age('หญิง','ขอนแก่น')
d=mean_age('ชาย','ขอนแก่น')
print(f' อายุเฉลี่ยของผู้ป่วยโดวิดเพศหญิงในจังหวัดขอนแก่น คือ {c} ปี \n อายุเฉลี่ยของผู้ป่วยโควิดเพศชายในจังหวัดขอนแก่น คือ {d} ปี\n')

 อายุเฉลี่ยของผู้ป่วยโดวิดเพศหญิงในจังหวัดขอนแก่น คือ 37.0 ปี
 อายุเฉลี่ยของผู้ป่วยโควิดเพศชายในจังหวัดขอนแก่น คือ 12.0 ปี

In [ ]:
e=all_rows_covid[all_rows_covid['risk']== 'คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0] 
print(f' จำนวนผู้ป่วยโวิดที่เป็นคนต่างชาติเดินทางมาจากต่างประเทศ มี {e} คน')