<a href="https://colab.research.google.com/github/suwutjaneet/Data_Viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os 

path = '/content/drive/My Drive/dataviz_2021_data' #path ที่ชี้ไปยังโฟลเดอร์

In [ ]:
covid_file_path = os.path.join(path, 'pm-18-jan-20211.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-20211.csv

In [ ]:
a = path + '/pm-18-jan-20211.csv'
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-20211.csv

## load data to memory

In [ ]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [ ]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1       1/12/20  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
data_covid.shape #.shape คือ คำสั่งบอกว่ามีกี่แถว กี่หลัก

(12423, 10)

### ชี้ค่าในตาราง

#### basic

In [ ]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [ ]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

#### .iloc

In [ ]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

### Table slicing

#### ตัดมาเฉพาะ column ที่ต้องการ

In [ ]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0           1/12/20  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

#### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [ ]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

##### แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

In [ ]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

การชี้ค่าในตารางด้วย data_covid[*x*] ค่า *x* สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ

1. ชื่อ column
2. ใส่ rows ที่ต้องการ (ใส่ list ที่มี***ขนาดเท่ากับจำนวนแถว***แล้วบอกว่าเอาแถวไหนบ้างโดยใช้ logical expression (```True```/```False```)

In [ ]:
eight_rows_covid = data_covid.iloc[:8,:]
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1       1/12/20  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [ ]:
eight_rows_covid[[True,False,True,True,False,True,False,False]] #ใส่ rows ที่เราต้องการ

   No. announce_date  ... district_of_onset                              risk
0    1       1/12/20  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [ ]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร' #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [ ]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'] #เอา 2 บรรทัดบนมาบวกกัน

   No. announce_date  ... district_of_onset                              risk
0    1       1/12/20  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

คำถามเพิ่มเติม หาจำนวนผู้ป่วยเป็น "คนต่างชาติเดินทางมาจากต่างประเทศ"

In [ ]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

HW6

1. คำนวณอายุเฉลี่ยของผู้หญิง และผู้ชายของข้อมูลทั้งหมด
2. คำนวณอายุเฉลี่ยของผู้หญิง และผู้ยของผู้ป่วยในจังหวัดขอนแก่น

In [ ]:
A = data_covid[['sex','age','province_of_onset']]
A

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

### ข้อ 1

In [ ]:
A1_1 = A[A['sex']=='หญิง']
A1_1['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12413    16.0
12416    36.0
12417    29.0
12418    28.0
12419    27.0
Name: age, Length: 5199, dtype: float64

In [ ]:
sum = 0
N = 0
for a in A1_1['age']:

  if a > 0:
    sum += a #sum = sum + a
    N += 1

print(f'อายุเฉลี่ยของผู้หญิง = {sum/N} ปี')

อายุเฉลี่ยของผู้หญิง = 36.733317778814744 ปี

In [ ]:
B = A1_1["age"].mean()
print(f'อายุเฉลี่ยของผู้หญิง = {B} ปี')

อายุเฉลี่ยของผู้หญิง = 36.707624154814646 ปี

In [ ]:
A1_2 = A[A['sex']=='ชาย']
A1_2

       sex   age province_of_onset
3      ชาย  68.0     กรุงเทพมหานคร
8      ชาย  63.0     กรุงเทพมหานคร
10     ชาย  33.0     กรุงเทพมหานคร
11     ชาย  61.0     กรุงเทพมหานคร
12     ชาย   6.0     กรุงเทพมหานคร
...    ...   ...               ...
12414  ชาย  32.0             สงขลา
12415  ชาย  38.0             สงขลา
12420  ชาย  10.0            ชลบุรี
12421  ชาย  52.0            ชลบุรี
12422  ชาย  51.0             ระยอง

[4727 rows x 3 columns]

In [ ]:
C = A1_2["age"].mean()
print(f'อายุเฉลี่ยของผู้ชาย = {C} ปี')

อายุเฉลี่ยของผู้ชาย = 39.55680256527714 ปี

### ข้อ 2

In [ ]:
A2 = A[A['province_of_onset']=='ขอนแก่น']
A2

        sex   age province_of_onset
180     ชาย  33.0           ขอนแก่น
462    หญิง  36.0           ขอนแก่น
1466    ชาย  19.0           ขอนแก่น
1970   หญิง  70.0           ขอนแก่น
2637   หญิง  63.0           ขอนแก่น
2673    ชาย  68.0           ขอนแก่น
5948   หญิง  32.0           ขอนแก่น
6082   หญิง  36.0           ขอนแก่น
9333    ชาย  17.0           ขอนแก่น
9334    ชาย  20.0           ขอนแก่น
10610   ชาย  17.0           ขอนแก่น
11517   ชาย  12.0           ขอนแก่น
11697  หญิง  17.0           ขอนแก่น
11698  หญิง  37.0           ขอนแก่น

In [ ]:
A2_1 = A2[A2['sex']=='หญิง']
A2_1

        sex   age province_of_onset
462    หญิง  36.0           ขอนแก่น
1970   หญิง  70.0           ขอนแก่น
2637   หญิง  63.0           ขอนแก่น
5948   หญิง  32.0           ขอนแก่น
6082   หญิง  36.0           ขอนแก่น
11697  หญิง  17.0           ขอนแก่น
11698  หญิง  37.0           ขอนแก่น

In [ ]:
female_KK = A1_1[A1_1['province_of_onset']=='ขอนแก่น']
sum = 0
N = 0
for a in female_KK['age']:

  if a > 0:
    sum += a #sum = sum + a
    N += 1

print(f'อายุเฉลี่ยของผู้ป่วยหญิงในจังหวัดขอนแก่น = {sum/N} ปี')

อายุเฉลี่ยของผู้ป่วยหญิงในจังหวัดขอนแก่น = 41.57142857142857 ปี

In [ ]:
D = A2_1["age"].mean()
print(f'อายุเฉลี่ยของผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น = {D} ปี')

อายุเฉลี่ยของผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น = 41.57142857142857 ปี

In [ ]:
A2_2 = A2[A2['sex']=='ชาย']
A2_2

       sex   age province_of_onset
180    ชาย  33.0           ขอนแก่น
1466   ชาย  19.0           ขอนแก่น
2673   ชาย  68.0           ขอนแก่น
9333   ชาย  17.0           ขอนแก่น
9334   ชาย  20.0           ขอนแก่น
10610  ชาย  17.0           ขอนแก่น
11517  ชาย  12.0           ขอนแก่น

In [ ]:
E = A2_2["age"].mean()
print(f'อายุเฉลี่ยของผู้ชายของผู้ป่วยในจังหวัดขอนแก่น = {E} ปี')

อายุเฉลี่ยของผู้ชายของผู้ป่วยในจังหวัดขอนแก่น = 26.571428571428573 ปี

การจัดการ Missing Value

- ลบ record ที่เป็น missing
- แทนที่ค่า missing ด้วยค่าที่เหมาะสม mean, default, category-unknown
- ใช้ค่าจาก column อื่นๆ ช่วยประมาณค่าใน column ที่หายไป (regression, deep learning, etc.)

### ลบ record (.dropna)

missing = ```None``` ```Na```(not autorized) ```NaN```(not a number)

In [ ]:
A.shape

(12423, 3)

In [ ]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12423, 10)
(6430, 10)

In [ ]:
A.dropna().shape

(8253, 3)

In [ ]:
A.dropna()

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[8253 rows x 3 columns]

In [ ]:
A.dropna()
print(A.shape)

(12423, 3)

In [ ]:
A.dropna(inplace=True) #inplace คือคำสั่ง อัพเดตค่าในตารางเลย

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
A.dropna(inplace=True)
print(A.shape)

(8253, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
A = data_covid[['sex','age','province_of_onset']]
A.shape

(12423, 3)

In [ ]:
A.dropna().shape

(8253, 3)

In [ ]:
A.dropna(subset=['age']).shape

(8656, 3)

### แทน missing ด้วยค่าที่เหมาะสม (```fillna```)

In [ ]:
A.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [ ]:
print(f'จำนวน record ก่อน drop missing ใน province {A.shape[0]}')
print(f"จำนวน record หลัง drop missing ใน province {A.dropna(subset=['province_of_onset']).shape[0]}")

จำนวน record ก่อน drop missing ใน province 12423
จำนวน record หลัง drop missing ใน province 10432

In [ ]:
A_updated = A.fillna(value={'sex':'ไม่รู้', 'age':-1, 'province_of_onset':'ไม่รู้'})
A_updated.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [ ]:
A_updated[A_updated['sex']=='ไม่รู้']

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12405  ไม่รู้ -1.0            ไม่รู้
12406  ไม่รู้ -1.0            ไม่รู้
12407  ไม่รู้ -1.0            ไม่รู้
12408  ไม่รู้ -1.0            ไม่รู้
12409  ไม่รู้ -1.0            ไม่รู้

[2497 rows x 3 columns]

In [ ]:
A_updated['province_of_onset']=='ไม่รู้'

0        False
1        False
2        False
3        False
4        False
         ...
12418    False
12419    False
12420    False
12421    False
12422    False
Name: province_of_onset, Length: 12423, dtype: bool

In [ ]:
data_covid[A_updated['province_of_onset']=='ไม่รู้'] #จำนวนแถวของ data_covid กับ A_updated เท่ากันจึงเอามาซ้อนกันได้

         No.  ...                                         risk
414      415  ...                                      สนามมวย
529      530  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
555      556  ...                                      สนามมวย
576      577  ...                                      สนามมวย
588      589  ...                         อยู่ระหว่างการสอบสวน
...      ...  ...                                          ...
12405  12406  ...                            Cluster สมุทรสาคร
12406  12407  ...                            Cluster สมุทรสาคร
12407  12408  ...                            Cluster สมุทรสาคร
12408  12409  ...                            Cluster สมุทรสาคร
12409  12410  ...                            Cluster สมุทรสาคร

[1991 rows x 10 columns]

In [ ]:
A_updated_2 = A.fillna(value={'province_of_onset':'ไม่รู้'})

In [ ]:
A_updated_2[A_updated['sex']=='ไม่รู้']

       sex  age province_of_onset
4391   NaN  NaN         สมุทรสาคร
4392   NaN  NaN         สมุทรสาคร
4393   NaN  NaN         สมุทรสาคร
4394   NaN  NaN         สมุทรสาคร
4395   NaN  NaN         สมุทรสาคร
...    ...  ...               ...
12405  NaN  NaN            ไม่รู้
12406  NaN  NaN            ไม่รู้
12407  NaN  NaN            ไม่รู้
12408  NaN  NaN            ไม่รู้
12409  NaN  NaN            ไม่รู้

[2497 rows x 3 columns]

## การวนลูป record ในตาราง (```iterrows```)

In [ ]:
A = data_covid[['sex','age','province_of_onset']]

In [ ]:
for each_row in A.iterrows():
  # print(each_row)
  # print(each_row[1])
  if each_row[1]['age'] == 20 and (each_row[1]['province_of_onset']=='ขอนแก่น'):
    print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)

## การวนลูปแบบมองตารางแพนด้าส์ (pandas dataframe) เป็น numpy array (```.iloc```)

In [ ]:
for each_row in range(A.shape[0]): #range คือ ตัวเลข เริ่มตั้งแต่ 0,1,...
  if (A.iloc[each_row,1]== 20) and (A.iloc[each_row,2]=='ขอนแก่น'): #each_row คือ ตัวเลข
    print(each_row)
    print(A.iloc[each_row,:])

9334
sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object

## Quiz ตัดตารางออกมาเฉพาะปี 2021 ```announce_date``` ในปี 2021

* วนลูปหา index ของปี 2021
* ตัดตารางมาเฉพาะปี 2021

In [ ]:
TF=list()
for each_row in data_covid.iterrows(): 
  if each_row[1]['announce_date'].split('/')[2] == '2021':
    TF.append(True)
  else:
    TF.append(False)

data_covid[TF]

         No.  ...                                           risk
10834  10835  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10835  10836  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10836  10837  ...                              Cluster สมุทรสาคร
10837  10838  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
10838  10839  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
...      ...  ...                                            ...
12418  12419  ...                                    สถานบันเทิง
12419  12420  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                    Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[1589 rows x 10 columns]

## Function ตัวช่วยใน pandas

### ```.describe``` คำนวณค่าทางสถิติของข้อมูลที่เป็นตัวเลข

In [ ]:
data_covid.describe()

                No.          age
count  12423.000000  8656.000000
mean    6212.000000    38.143715
std     3586.355532    15.202311
min        1.000000     0.000000
25%     3106.500000    27.000000
50%     6212.000000    36.000000
75%     9317.500000    49.000000
max    12423.000000    97.000000

### ```.mean()``` คำนวณค่าเฉลี่ยของข้อมูลโดยไม่สนใจ missing

In [ ]:
data_covid[data_covid['sex']=='ชาย']['age'].mean()

39.55680256527714

### ```.isnull()``` ใช้เช็คว่าเป็นค่าว่างรึเปล่า

* ถ้าเขียนว่า False แสดงว่าค่านั้นไม่เป็นค่าว่าง
* ถ้าเขียนว่า True แสดงว่าค่านี้เป็นค่าว่าง

In [ ]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12418  False          False  ...              False  False
12419  False          False  ...              False  False
12420  False          False  ...              False  False
12421  False          False  ...              False  False
12422  False          False  ...              False  False

[12423 rows x 10 columns]