<a href="https://colab.research.google.com/github/suwutjaneet/Data_Viz/blob/main/Quiz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
import os

path = '/content/drive/My Drive/Data_mining'

In [13]:
oct57 = os.path.join(path, '-.57-.58-1.xls')
print(oct57)

/content/drive/My Drive/Data_mining/-.57-.58-1.xls

In [14]:
oct57 = pd.read_excel(oct57)
oct57

                                          Unnamed: 0  ...                แบบ สขร. 1
0    สรุปผลการดำเนินการจัดจ้างในรอบเดือน ตุลาคม 2557  ...                       NaN
1         สำนักงานปลัดกระทรวงวิทยาศาสตร์และเทคโนโลยี  ...                       NaN
2                                                NaN  ...                       NaN
3                                              ลำดับ  ...  เหตุผลที่คัดเลือกโดยสรุป
4                                                ที่  ...                       NaN
..                                               ...  ...                       ...
99                                                56  ...            เป็นผู้รับจ้าง
100                                               57  ...            เป็นผู้รับจ้าง
101                                               58  ...            เป็นผู้รับจ้าง
102                                               59  ...            เป็นผู้รับจ้าง
103                                               60  ...            เป็นผู้รับจ้าง

[104 rows x 9 columns]

In [ ]:
oct57.rename(column={'Unnamed: 5':'ราคาเสนอ','Unnamed: 7':'ราคาซื้อ'})

## ใช้ขนาดของ marker แสดงค่าของ feature

In [ ]:
plt.scatter(df['PetalLength'],df['PetalWidth'],s=10*df['SepalWidth'],c=df2['Name'],alpha=0.5)