<a href="https://colab.research.google.com/github/suwutjaneet/Data_Viz/blob/main/visurelizedatacomparison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:

import os

path = '/content/drive/My Drive/dataviz_2021_data'

In [16]:
data1 = os.path.join(path, 'search_request.csv')
print(data1)

/content/drive/My Drive/dataviz_2021_data/search_request.csv

In [17]:
data = pd.read_csv(data1)
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

## แปลงข้อมูลบอกเวลาให้เป็นตัวแปรชนิด datetime

In [20]:
data['search_timestamp'] = pd.to_datetime(data['search_timestamp'],format = '%Y-%m-%d %H:%M:%S', errors='coerce')

## กราฟแท่ง

## สร้างกราฟแท่งเปรียบเทียบปริมาณ คนเข้าใช้ web wongnai.com เพื่อค้นหาร้านอาหารในแต่ละวัน

In [ ]:
plt.bar([1,2,3,4,5,6,7],[data[data['search_timestamp']])